// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-mitema: #1685b0;
	--ion-color-mitema-rgb: 37,117,203;
	--ion-color-mitema-contrast: #ffffff;
	--ion-color-mitema-contrast-rgb: 255,255,255;
	--ion-color-mitema-shade: #176a91;
	--ion-color-mitema-tint: #3b94d0;
}