.header{
    --text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
.mainHeader{
  margin-top: 5%;
  margin-bottom: 5%;
}
.containercard{
  padding-top: 10%;
}
ion-toolbar {
  background-color: var(--ion-color-mitema-shade);
}
.btn1{
  background-color: var(--ion-color-mitema);
}
.btn2{
  color: var(--ion-color-mitema);
}
