
<ion-header>
  <ion-item>
    <ion-title>
      <h3 style="align-items: center;">Bienvenido, {{username}}!</h3>
    </ion-title>
    <ion-icon slot="end" name="log-out" [routerLink]="['/login']"></ion-icon>  
    
  </ion-item>
</ion-header>
<br><br>
<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card id="container">
      <ion-tab-button class="cam" >
        <ion-icon name="camera"></ion-icon>
        <ion-label>Ingresar asistencia</ion-label>
      </ion-tab-button>
    </ion-card>
  </div>
</ion-content>
<!--(click)="openCamera()"-->