
<ion-header>
  <ion-item>
    <ion-title>
      <h1>Bienvenido,</h1>
      <p>{{ username }}!</p>
    </ion-title>
    <ion-item slot="end">
      <ion-icon name="log-out" [routerLink]="['/login']"></ion-icon>  
    </ion-item>
  </ion-item>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-tab-button class="cam" >
        <ion-icon name="camera"></ion-icon>
        <ion-label>Ingresar asistencia</ion-label>
      </ion-tab-button>
    </ion-card>
  </div>
</ion-content>
<!--(click)="openCamera()"-->